input, select{
    width: 100%;
    background-color: #ecdaff;
    border-color: #e3b3f7;
}

#label_title2,
#label_artist2,
#label_year2,
#label_genre2,
#label_label2,
#label_price2{
    width: 100%;
}

.btn-rose {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6e34bb;
    --bs-btn-border-color: #6e34bb;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6e34bb;
    --bs-btn-hover-border-color: #6e34bb;
    --bs-btn-focus-shadow-rgb: 225,83,97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6e34bb;
    --bs-btn-active-border-color: #6e34bb;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6e34bb;
    --bs-btn-disabled-border-color: #6e34bb;
}

.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.75rem;
}

body{
    background-color: #baaad8;
}

.card{
    background-color: #ebdbf3;
}